{% extends 'base.html' %}
{% load static %}
{% block title %}CONTATOS{% endblock %}
{% block content %}
<section class="featured-products">
    <h2>Informações</h2>
    <div class="col-8 m-auto pt-2 pb-2">
        <div class="product-list">
            <div class="product">
                <h3>Telefone e Endereço</h3>
                <p>(21) 4002-8922</p>
                <p>Av Expedicionário Oswaldo de Almeida Ramos 280, Vassouras, RJ, 27700-000</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}