{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">

        <!-- First column -->
        <div class="col-md">

            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">PRODUTO_1</h5>
                    <p class="card-text">Breve descrição do produto, componentes, cor, tamanho,
                        etc.</p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!-- First column -->

        <!-- Second column -->
        <div class="col-md">

            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/112.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">PRODUTO_2</h5>
                    <p class="card-text">Breve descrição do produto, componentes, cor, tamanho,
                        etc.</p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!-- Second column -->

        <!-- Third column -->
        <div class="col-md">

            <!-- Card -->
            <div class="card">
                <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                    <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/113.webp" class="img-fluid" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">PRODUTO_3</h5>
                    <p class="card-text">Breve descrição do produto, componentes, cor, tamanho,
                        etc.</p>
                    <a href="#!" class="btn btn-primary">Comprar</a>
                </div>
            </div>
            <!-- Card -->

        </div>
        <!-- Third column -->
        {% endblock %}